<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- Network access -->
	<key>com.apple.security.network.client</key>
	<true/>
	<key>com.apple.security.network.server</key>
	<true/>
	
	<!-- File system access -->
	<key>com.apple.security.files.user-selected.read-write</key>
	<true/>
	<key>com.apple.security.files.downloads.read-write</key>
	<true/>
	<key>com.apple.security.files.pictures.read-write</key>
	<true/>
	<key>com.apple.security.files.movies.read-write</key>
	<true/>
	
	<!-- Hardware access -->
	<key>com.apple.security.device.audio-input</key>
	<true/>
	<key>com.apple.security.device.camera</key>
	<true/>
	
	<!-- App Sandbox -->
	<key>com.apple.security.app-sandbox</key>
	<true/>
	
	<!-- XPC Services -->
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.com.mountaintoppictures.slate</string>
	</array>
	
	<!-- Ingest Daemon XPC -->
	<key>com.apple.security.temporary-exception.mach-lookup.global-name</key>
	<array>
		<string>com.mountaintoppics.slate.ingestd</string>
	</array>
	
	<!-- Media processing -->
	<key>com.apple.security.temporary-exception.audio-unit-host</key>
	<true/>
	<key>com.apple.security.temporary-exception.shared-preference.read-write</key>
	<array>
		<string>com.mountaintoppictures.slate</string>
	</array>
</dict>
</plist>
